<div class="container text-center">
  <div class="row">
    <div class="col">
      <p class="title1">BIENVENIDO A</p>
    </div>
  </div>
  <div class="row">
    <div class="col"> </div>
  </div>
  <div class="row title1row">
    <div class="col-1 align-self-center"><mat-icon class="size-icon">pets</mat-icon></div>
    <div class="col-sm-10 align-self-center">
      <p class="title2">MAGIC PETS</p>
    </div>
    <div class="col-1 align-self-center"><mat-icon class="size-icon">pets</mat-icon></div>
  </div>
</div>
