p{
  text-align: center;
  margin-top: 10%;
}

.img-fluid {
  max-width: 50vh;
}

.title1 {
  font-size: 4em;
}

.title2 {
  font-size: 8em;
}

.title1, .title2 {
  font-family: 'paytoneone', sans-serif;
}

.size-icon {
  transform: scale(4);
}
