<div class="container text-center">
  <div class="row">
    <div class="col">
      <p class="title1">BIENVENIDO A</p>
    </div>
  </div>
  <div class="row title1row">
    <div class="col-1 align-self-center"><mat-icon class="size-icon">pets</mat-icon></div>
    <div class="col-10 align-self-center">
      <p class="title2">MAGIC PETS</p>
    </div>
    <div class="col-1 align-self-center"><mat-icon class="size-icon">pets</mat-icon></div>
  </div>
  <div class="container image-group">
    <div class="row">
      <div class="col">
        <img ngSrc="assets/estetica.png" class="img-thumbnail rounded-image" alt="perro en estetica" width="200" height="200">
        <p>Estética</p>
      </div>
      <div class="col">
        <img ngSrc="assets/estetica.png" class="img-thumbnail rounded-image" alt="perro en estetica" width="200" height="200">
        <p>Consultas</p>
      </div>
      <div class="col">
        <img ngSrc="assets/estetica.png" class="img-thumbnail rounded-image" alt="perro en estetica" width="200" height="200">
        <p>Vacunas</p>
      </div>
      <div class="col">
        <img ngSrc="assets/estetica.png" class="img-thumbnail rounded-image" alt="perro en estetica" width="200" height="200">
        <p>Desparasitaciones</p>
      </div>
      <div class="col">
        <img ngSrc="assets/estetica.png" class="img-thumbnail rounded-image" alt="perro en estetica" width="200" height="200">
        <p>Pensiones</p>
      </div>
    </div>
  </div>
</div>
