p{
  text-align: center;
  margin-top: 10%;
}

.img-fluid {
  max-width: 50vh;
}

.title1 {
  font-size: 4em;
}

.title1row { margin-top: 10%}

.title2 {
  font-size: 8em;
  white-space: normal;
  display: contents;
}

.title1, .title2 {
  /*color: #2196f3;*/
  font-family: 'paytoneone', sans-serif;
}

.size-icon {
  /*color: #2196f3;*/
  color: #552C2C;
  transform: scale(4);
}

.image-group {
  margin-top: 7%;
}

.rounded-image {
  border-radius: 50%;
}
