<mat-drawer-container class="sidenav-container bg-opacity-50" hasBackdrop="true" autosize>
  <mat-drawer #drawer class="sidenav-size" mode="side">
    <p>¡Bienvenido al portal de Magic Pets!</p>
    <br/>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="primary" class="toolbar-properties">
      <div class="container text-center container-full">
        <div class="row align-items-center">
          <div class="col-1">
            <button
              mat-icon-button
              class="sidenav-icon"
              aria-label="icon-button with menu icon"
              (click)="drawer.toggle()"
            >
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div class="col-1">
            <span>
        <button mat-button routerLink="dashboard">Magic Pets | Veterinaria</button>
      </span>
          </div>
          <div class="col-8">
            <img src="assets/logo2.svg" alt="Magic Pets Logo" class="logo-toolbar">
          </div>
          <div class="col-1">
            <a
              mat-icon-button
              href="https://github.com/GermanMF/"
              target="_blank"
              class="sidenav-icon favorite-icon"
              aria-label="icon-button with info icon"
            >
              <mat-icon>info</mat-icon>
            </a>
          </div>
          <!--      <ng-container [ngSwitch]="true">-->
          <!--        <span *ngSwitchCase="getRoute().includes('propietarios')">Propietarios</span>-->
          <!--      </ng-container>-->
          <div class="col-1">
            <a
              mat-icon-button
              class="sidenav-icon favorite-icon"
              aria-label="icon-button with info icon"
            >
              <mat-icon>logout</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>
