.sidenav-container {
  height: 100vh;
  background-color: #0F9594;
  color: #F4DFBB;
}

.sidenav-content {
  /*align-items: center;*/
  /*justify-content: center;*/
}

.sidenav-size {
  padding: 50px;
  background-color: #0b8b8d;
  font-family: 'figtree', serif;
}

.toolbar-properties {
  height: 100px;
  background-color: #000000;
  color: #F4DFBB;
}

.logo-toolbar{
  width: auto;
  height: 50px;
}

.container-full{
  max-width: inherit;
}
